<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stealth.hush.lite"
    android:installLocation="internalOnly"
    android:versionCode="8"
    android:versionName="0.0.7 Beta" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <!-- 2016.01.05 modified -->
    <!-- 2016.01.11 modified -->


    <!--
        version 0.1.0 ->  
        version 0.3.0 android 6.0 (target 23) 
    -->


    <!-- uses-sdk android:minSdkVersion="13" android:targetSdkVersion="23" / -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_CLIPS" />
    <uses-permission android:name="android.permission.READ_CLIPS" />
    <uses-permission android:name="android.permission.WRITE_CLIPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
     uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/
    -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <service
            android:name="com.stealth.hushkbd.hush_kbd"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.stealth.service.EnvSettings"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stealth.service.ContactsList"
            android:label="@string/contacts_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.stealth.service.DetailList"
            android:label="@string/detail_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.PopupEncrypt"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.stealth.service.PopupDecrypt"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.stealth.service.Help"
            android:label="@string/app_help"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.Puzzle"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.AskLogin"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.Login"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.RegistPhone"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.RegistName"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.RegistEtc"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.RegistPass"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.TimeOut"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.KbdSetting"
            android:label="@string/kbd_setting"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.stealth.service.ShareSetting"
            android:label="@string/share_app"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.stealth.service.GroupList"
            android:label="@string/group_list"
            android:launchMode="singleTask"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.GroupSelect"
            android:label="@string/group_select"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent1" >
        </activity>
        <activity
            android:name="com.stealth.service.VoiceInput"
            android:label="@string/voice_input"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.stealth.service.MemberList"
            android:label="@string/member_list"
            android:launchMode="singleTask"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.stealth.service.GroupReg"
            android:label="@string/group_regist"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.PhoneNumber"
            android:label="@string/phone_number_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.stealth.service.PasswordAsk"
            android:label="@string/password_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent1" >
        </activity>

        <receiver android:name="com.stealth.service.ClipboardMonitorStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.stealth.service.ClipboardMonitor" />
    </application>

</manifest>